.main-program {
    background-color: var(--dark-blue);
    padding: 40px 20px;
    background-image: url('../img/cross.svg');
    background-size: 32px;
    color: var(--white);
  }
  
  .main-progam__title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .main-program__program {
    list-style: none;
    width: 100%;
    padding: 0;
  }
  
  .main-program__program > li {
    background-color: rgba(255, 255, 255, 0.122);
    padding: 20px 0;
    width: calc(100% + 10px);
    margin: 8px -5px;
    display: flex;
  }
  
  .program__image {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .program__image img {
    width: 30px;
  }
  
  .program__title {
    width: 80px;
    display: flex;
    align-items: center;
  }
  
  .program__title h2 {
    font-size: 15px;
    font-weight: 600;
  }
  
  .program__content {
    width: calc(100% - 150px);
    font-size: 11px;
    padding-right: 10px;
    line-height: 16px;
  }