:root {
  --black: #272a31;
  --medium: #545454;
  --light: #d3d3d3;
  --white: #f9f9f9;

  --dark-blue: #272a33;

  --orange: #ec5242;
  
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: var(--black);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h2 {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

h1 {
  color: var(--orange);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin: 10px 0 25px 0;
  font-size: 28px;
  font-weight: 800;
}

h3 {
  font-weight: 900;
  color: var(--medium);
  margin: 15px 0 7px 0;
}

p {
    margin: 0;
    color: var(--medium);
}

header {
  background-color: var(--white);
  background-image: url('../img/background.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}

nav {
  padding: 18px 23px;
}

button {
    color: var(--white);
    background-color: var(--orange);
    border: none;
    padding: 20px 40px;
}

.t-orange {
    color: var(--orange);
}

.texture-text {
  background: url(../img/orange-bg.png) no-repeat center center;
  background-size: cover;
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip:text;  
}

.p-box {
  border: 3px solid white;
  padding: 15px;
  line-height: 22px;
  font-weight: 600;
  font-size: 14px;
  color: var(--medium);
  background-color: var(--white);
}

.orange-line {
    background-color: var(--orange);
    width: 40px;
    height: 1px;
    margin: 15px 0;
}

.hamburguer-menu-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
}

.hamburguer-menu-icon > div {
  background-color: var(--medium);
  width: 30px;
  height: 6px;
  transition: background-color 0.2s linear, transform 0.2s linear;
}

.active-menu div:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.active-menu div:nth-child(2) {
  background-color: transparent;
}

.active-menu div:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

.header-content {
  padding: 30px 20px 65px 20px;
}

.main-program {
  background-color: var(--dark-blue);
  padding: 40px 20px;
  background-image: url('../img/cross.svg');
  background-size: 32px;
  color: var(--white);
}

.main-progam__title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-program__program {
  list-style: none;
  width: 100%;
  padding: 0;
}

.main-program__program > li {
  background-color: rgba(255, 255, 255, 0.122);
  padding: 20px 0;
  width: calc(100% + 10px);
  margin: 8px -5px;
  display: flex;
}

.program__image {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.program__image img {
  width: 30px;
}

.program__title {
  width: 80px;
  display: flex;
  align-items: center;
}

.program__title h2 {
  font-size: 15px;
  font-weight: 600;
}

.program__content {
  width: calc(100% - 150px);
  font-size: 11px;
  padding-right: 10px;
  line-height: 16px;
}